<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div class="wrapper">
<footer id="footer" class="footer">
    <div class="footer-row">
        <div class="footer-links">
            <h4>Compañia</h4>
            <nav aria-label="Enlaces de la compañía">
                <ul>
                    <li><a>Nosotros</a></li>
                    <li><a>Nuestros services</a></li>
                    <li><a>Politica de privacidad</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Trabaja con nosotros</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-links">
            <h4>Ayuda</h4>
            <nav aria-label="Enlaces de la compañía">
                <ul>
                    <li><a>Preguntas</a></li>
                    <li><a>Compras</a></li>
                    <li><a>Atención al cliente</a></li>
                    <li><a>Pago</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-links">
            <h4>Tienda</h4>
            <nav aria-label="Enlaces de productos">
                <ul>
                    <li><a>Ropa</a></li>
                    <li><a>Zapatos</a></li>
                    <li><a>Suplementación</a></li>
                    <li><a>Planes</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-links">
            <h4>Siguenos</h4>
            <nav class="social-link" aria-label="Enlaces de redes sociales">
                <a aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
                <a id="instagram" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                <a aria-label="twitter"><i class="fab fa-twitter"></i></a>
                <a aria-label="linkedin"><i class="fab fa-linkedin"></i></a>
            </nav>
        </div>
    </div>
</footer>
</div>