.display-block {
    display: block;
  }
  
.display-none {
  display: none;
}

#header-container {
  box-shadow: 5px 5px 15px 12px rgba(0,0,0,0.32);
  width: 100%;

  #logo{
    font-family: 'Arial', sans-serif; /* Cambia esto a la fuente que prefieras */
    font-size: 2em; /* Cambia esto al tamaño que prefieras */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(106,9,121,1) 69%);
    text-shadow: 2px 2px 4px #000000; /* Cambia esto al efecto de sombra que prefieras */
    border-radius: 10px;
  }

  a, button {
    margin-left: 10px;
    margin-right: 5px;
    padding: 8px 10px;
  
    i {
      color: #fff;
      display: inline-block;
      font-size: 22px;
    }
  }
  
  #logout-button {
    cursor: pointer;
  }
  
  #cart-container {
    box-shadow: 5px 5px 15px 15px rgba(0,0,0,0.32);
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }

}

@media (max-width: 768px) {
  .dropdown-menu {
      position: absolute;
  }
}

